<a href="https://colab.research.google.com/github/iamnaveenk/PythonCode/blob/main/UP_election_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/Nation with Namo assingments/UP_AC_District (2) (1).csv")
df2=pd.read_csv("/content/drive/MyDrive/Nation with Namo assingments/UP_2022 (2).csv")

In [ ]:
df1

     AC No.           AC Name    District
0         1             Behat  Saharanpur
1         2             Nakur  Saharanpur
2         3  Saharanpur Nagar  Saharanpur
3         4        Saharanpur  Saharanpur
4         5           Deoband  Saharanpur
..      ...               ...         ...
398     399           Marihan    Mirzapur
399     400          Ghorawal   Sonbhadra
400     401       Robertsganj   Sonbhadra
401     402              Obra   Sonbhadra
402     403            Duddhi   Sonbhadra

[403 rows x 3 columns]

In [ ]:
df2

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [ ]:
df=pd.concat([df1, df2], axis=1)
df

,AC No.,AC Name,District,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1.0,Behat,Saharanpur,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,2.0,Nakur,Saharanpur,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,3.0,Saharanpur Nagar,Saharanpur,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,4.0,Saharanpur,Saharanpur,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,5.0,Deoband,Saharanpur,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...,...,...,...
4840,NaN,NaN,NaN,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,NaN,NaN,NaN,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,NaN,NaN,NaN,403,MISHRI LAL,Independent,1317,0.64,9
4843,NaN,NaN,NaN,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,NaN,NaN,NaN,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AC No.       403 non-null    float64
 1   AC Name      403 non-null    object
 2   District     403 non-null    object
 3   ac_no        4845 non-null   int64
 4   Candidate    4845 non-null   object
 5   Party        4845 non-null   object
 6   Total Votes  4845 non-null   int64
 7   % of Votes   4845 non-null   float64
 8   Rank         4845 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 340.8+ KB

In [ ]:
#How many constituencies did the Bharatiya Janata Party (BJP) win?

df[(df['Rank']==1) & (df['Party']=='Bharatiya Janata Party')].value_counts().sum()

13

In [ ]:
#Similarly calculate the number of constituencies won by each party.
df[(df['Rank']==1)]['Party'].value_counts()

Bharatiya Janata Party                  255
Samajwadi Party                         111
Apna Dal (Soneylal)                      12
Rashtriya Lok Dal                         8
Suheldev Bharatiya Samaj Party            6
Nirbal Indian Shoshit Hamara Aam Dal      6
Indian National Congress                  2
Jansatta Dal Loktantrik                   2
Bahujan Samaj Party                       1
Name: Party, dtype: int64

In [ ]:
#In how many constituencies did the Bharatiya Janata Party and the Samajwadi Party occupy the first two ranks (i.e either BJP comes first and SP second or vice versa)

df[(df['Rank']==1 | df['Rank']==2) & (df['Party']=='Bharatiya Janata Party' | df['Party']=='Samajwadi Party')].value_counts().sum()

ValueError: ignored